/* --bs-bg-custom-dark: rgba(17, 24, 39, 1); 
    --bs-text-muted: #99a1b7;
    --bs-gray-100: #f9f9f9;
    --bs-gray-100-rgb: 249, 249, 249;
    --bs-gray-200: #f1f1f4;
    --bs-gray-200-rgb: 241, 241, 244;
    --bs-gray-300: #dbdfe9;
    --bs-gray-300-rgb: 219, 223, 233;
    --bs-gray-400: #c4cada;
    --bs-gray-400-rgb: 196, 202, 218;
    --bs-gray-500: #99a1b7;
    --bs-gray-500-rgb: 153, 161, 183;
    --bs-gray-600: #78829d;
    --bs-gray-600-rgb: 120, 130, 157;
    --bs-gray-700: #4b5675;
    --bs-gray-700-rgb: 75, 86, 117;
    --bs-gray-800: #252f4a;
    --bs-gray-800-rgb: 37, 47, 74;
    --bs-gray-900: #071437;
    --bs-gray-900-rgb: 7, 20, 55;
    --bs-light: #f9f9f9;
    --bs-primary: #670cec;
    --bs-secondary: #f1f1f4;
    --bs-success: #17c653;
    --bs-info: #7239ea;
    --bs-warning: #f6c000;
    --bs-danger: #f8285a;
    --bs-dark: #1e2129;
    --bs-primary-active: #5e0ad8;
    --bs-secondary-active: #c4cada;
    --bs-light-active: #f1f1f4;
    --bs-success-active: #04b440;
    --bs-info-active: #5014d0;
    --bs-warning-active: #dead00;
    --bs-danger-active: #d81a48;
    --bs-dark-active: #111318;
    --bs-primary-light: #e9f3ff;
    --bs-secondary-light: #f9f9f9;
    --bs-success-light: #dfffea;
    --bs-info-light: #f8f5ff;
    --bs-warning-light: #fff8dd;
    --bs-danger-light: #ffeef3;
    --bs-dark-light: #f9f9f9;
    --bs-light-light: #ffffff;
    --bs-primary-inverse: #ffffff;
    --bs-secondary-inverse: #252f4a;
    --bs-light-inverse: #252f4a;
    --bs-success-inverse: #ffffff;
    --bs-info-inverse: #ffffff;
    --bs-warning-inverse: #ffffff;
    --bs-danger-inverse: #ffffff;
    --bs-dark-inverse: #ffffff;
    --bs-primary-clarity: rgba(27, 132, 255, 0.2);
    --bs-secondary-clarity: rgba(249, 249, 249, 0.2);
    --bs-success-clarity: rgba(23, 198, 83, 0.2);
    --bs-info-clarity: rgba(114, 57, 234, 0.2);
    --bs-warning-clarity: rgba(246, 192, 0, 0.2);
    --bs-danger-clarity: rgba(248, 40, 90, 0.2);
    --bs-dark-clarity: rgba(30, 33, 41, 0.2);
    --bs-light-clarity: rgba(255, 255, 255, 0.2);
    --bs-light-rgb: 249, 249, 249;
    --bs-primary-rgb: 27, 132, 255;
    --bs-secondary-rgb: 241, 241, 244;
    --bs-success-rgb: 23, 198, 83;
    --bs-info-rgb: 114, 57, 234;
    --bs-warning-rgb: 246, 192, 0;
    --bs-danger-rgb: 248, 40, 90;
    --bs-dark-rgb: 30, 33, 41;
    --bs-text-white: #ffffff;
    --bs-text-primary: #670cec;
    --bs-text-secondary: #f1f1f4;
    --bs-text-light: #f9f9f9;
    --bs-text-success: #17c653;
    --bs-text-info: #7239ea;
    --bs-text-warning: #f6c000;
    --bs-text-danger: #f8285a;
    --bs-text-dark: #1e2129;
    --bs-text-muted: #99a1b7;
    --bs-text-gray-100: #f9f9f9;
    --bs-text-gray-200: #f1f1f4;
    --bs-text-gray-300: #dbdfe9;
    --bs-text-gray-400: #c4cada;
    --bs-text-gray-500: #99a1b7;
    --bs-text-gray-600: #78829d;
    --bs-text-gray-700: #4b5675;
    --bs-text-gray-800: #252f4a;
    --bs-text-gray-900: #071437;
    --bs-border-color: #f1f1f4;
    --bs-border-dashed-color: #dbdfe9;
    --bs-box-shadow-xs: 0 0.1rem 0.75rem 0.25rem rgba(0, 0, 0, 0.05);
    --bs-box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
    --bs-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1); */
