@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */

@layer base {
  :root {
    --bs-bg-custom-dark: rgb(17, 24, 39); /* Custom dark background */
    --bs-text-muted: rgb(153, 161, 183);
    --bs-gray-100: rgb(249, 249, 249);
    --bs-gray-100-rgb: 249, 249, 249;
    --bs-gray-200: rgb(241, 241, 244);
    --bs-gray-200-rgb: 241, 241, 244;
    --bs-gray-300: rgb(219, 223, 233);
    --bs-gray-300-rgb: 219, 223, 233;
    --bs-gray-400: rgb(196, 202, 218);
    --bs-gray-400-rgb: 196, 202, 218;
    --bs-gray-500: rgb(153, 161, 183);
    --bs-gray-500-rgb: 153, 161, 183;
    --bs-gray-600: rgb(120, 130, 157);
    --bs-gray-600-rgb: 120, 130, 157;
    --bs-gray-700: rgb(75, 86, 117);
    --bs-gray-700-rgb: 75, 86, 117;
    --bs-gray-800: rgb(37, 47, 74);
    --bs-gray-800-rgb: 37, 47, 74;
    --bs-gray-900: rgb(7, 20, 55);
    --bs-gray-900-rgb: 7, 20, 55;
    --bs-light: rgb(249, 249, 249);
    --bs-primary: rgb(103, 12, 236);
    --bs-secondary: rgb(241, 241, 244);
    --bs-success: rgb(23, 198, 83);
    --bs-info: rgb(114, 57, 234);
    --bs-warning: rgb(246, 192, 0);
    --bs-danger: rgb(248, 40, 90);
    --bs-dark: rgb(30, 33, 41);
    --bs-primary-active: rgb(94, 10, 216);
    --bs-secondary-active: rgb(196, 202, 218);
    --bs-light-active: rgb(241, 241, 244);
    --bs-success-active: rgb(4, 180, 64);
    --bs-info-active: rgb(80, 20, 208);
    --bs-warning-active: rgb(222, 173, 0);
    --bs-danger-active: rgb(216, 26, 72);
    --bs-dark-active: rgb(17, 19, 24);
    --bs-primary-light: rgb(233, 243, 255);
    --bs-secondary-light: rgb(249, 249, 249);
    --bs-success-light: rgb(223, 255, 234);
    --bs-info-light: rgb(248, 245, 255);
    --bs-warning-light: rgb(255, 248, 221);
    --bs-danger-light: rgb(255, 238, 243);
    --bs-dark-light: rgb(249, 249, 249);
    --bs-light-light: rgb(255, 255, 255);
    --bs-primary-inverse: rgb(255, 255, 255);
    --bs-secondary-inverse: rgb(37, 47, 74);
    --bs-light-inverse: rgb(37, 47, 74);
    --bs-success-inverse: rgb(255, 255, 255);
    --bs-info-inverse: rgb(255, 255, 255);
    --bs-warning-inverse: rgb(255, 255, 255);
    --bs-danger-inverse: rgb(255, 255, 255);
    --bs-dark-inverse: rgb(255, 255, 255);
    --bs-primary-clarity: rgba(27, 132, 255, 0.2);
    --bs-secondary-clarity: rgba(249, 249, 249, 0.2);
    --bs-success-clarity: rgba(23, 198, 83, 0.2);
    --bs-info-clarity: rgba(114, 57, 234, 0.2);
    --bs-warning-clarity: rgba(246, 192, 0, 0.2);
    --bs-danger-clarity: rgba(248, 40, 90, 0.2);
    --bs-dark-clarity: rgba(30, 33, 41, 0.2);
    --bs-light-clarity: rgba(255, 255, 255, 0.2);
    --bs-light-rgb: rgb(249, 249, 249);
    --bs-primary-rgb: rgb(27, 132, 255);
    --bs-secondary-rgb: rgb(241, 241, 244);
    --bs-success-rgb: rgb(23, 198, 83);
    --bs-info-rgb: rgb(114, 57, 234);
    --bs-warning-rgb: rgb(246, 192, 0);
    --bs-danger-rgb: rgb(248, 40, 90);
    --bs-dark-rgb: rgb(30, 33, 41);
    --bs-text-white: rgb(255, 255, 255);
    --bs-text-primary: rgb(103, 12, 236);
    --bs-text-secondary: rgb(241, 241, 244);
    --bs-text-light: rgb(249, 249, 249);
    --bs-text-success: rgb(23, 198, 83);
    --bs-text-info: rgb(114, 57, 234);
    --bs-text-warning: rgb(246, 192, 0);
    --bs-text-danger: rgb(248, 40, 90);
    --bs-text-dark: rgb(30, 33, 41);
    --bs-text-muted: rgb(153, 161, 183);
    --bs-text-gray-100: rgb(249, 249, 249);
    --bs-text-gray-200: rgb(241, 241, 244);
    --bs-text-gray-300: rgb(219, 223, 233);
    --bs-text-gray-400: rgb(196, 202, 218);
    --bs-text-gray-500: rgb(153, 161, 183);
    --bs-text-gray-600: rgb(120, 130, 157);
    --bs-text-gray-700: rgb(75, 86, 117);
    --bs-text-gray-800: rgb(37, 47, 74);
    --bs-text-gray-900: rgb(7, 20, 55);
    --bs-border-color: rgb(241, 241, 244);
    --bs-border-dashed-color: rgb(219, 223, 233);
    --bs-box-shadow-xs: 0 0.1rem 0.75rem 0.25rem rgba(0, 0, 0, 0.05);
    --bs-box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
    --bs-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
  }

  /* Dark Mode Variables */
  .dark {
    --bg-primary: rgb(27, 27, 27);
    --color-primary: rgb(255, 255, 255);
    --color-white: rgb(34, 34, 34);
    --border-gray: rgb(68, 68, 68);
  }
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-smooth: always; /* Enables font smoothing */
  -webkit-font-smoothing: antialiased; /* Smoother fonts on WebKit-based browsers (e.g., Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* Smoother fonts on macOS browsers */
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; /* Ensure consistent sizing across elements */
}

.tiptap {
  ul,
  ol {
    padding: 0 1rem;
  }
}
body {
  font-family: var(--font-inter);
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
    hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* pulse animation  */

.pulse {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse::before {
  content: "";
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  border: 2px solid #6a49f2;
  border-radius: 50%;
  animation: pulseEffects 1.5s linear infinite;
}

.pulse::after {
  content: "";
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  border: 2px solid #6a49f2;
  border-radius: 50%;
  animation: pulseEffects 1.5s linear infinite;
  animation-delay: 0.4s;
}

.mycustom {
  overflow-y: hidden !important;
}

@keyframes pulseEffects {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

/* bg-for-post-now-page */

/* header animation */

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  animation: slideInFromTop 0.5s ease-out;
}

.sidebar {
  overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: white !important;
}

/* styles for multi selected input  */
.css-qbdosj-Input {
  padding: 10px 0 !important;
}

/* find job page price slider */

.input-range__label-container {
  margin-right: 20px !important;
  font-size: 14px;
}
