@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Apercu Bold";
  src: url("/fonts/apercu_bold_pro.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Medium";
  src: url("/fonts/apercu_medium_pro.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Regular";
  src: url("/fonts/apercu_regular_pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    /* Font */
    --font-1: "Apercu", sans-serif;

    /* Colors */
    --color-primary: #222;
    --color-primary-rgb: 34, 34, 34;
    --color-link: #222;
    --color-white: #fff;
    --color-white-rgb: 255, 255, 255;
    --color-orange: #fa5d29;
    --color-errors: #fa5d29;
    --color-blue: #49b3fc;
    --color-featured: #f8f0ee;
    --color-underlined: var(--color-primary-rgb);
    --color-connect: #ff602c;
    --color-connect-2: #ffae94;
    --color-connect-3: #ffc5b1;
    --color-inspire: #aaeec4;
    --color-inspire-2: #c8e4d3;
    --color-inspire-3: #e2f4e9;
    --color-awards: #502bd8;
    --color-awards-2: #6749d1;
    --color-awards-3: #917eda;
    --color-read: #c0ab3c;
    --color-read-2: #cdc38b;
    --color-read-3: #dbd6c0;
    --color-learn: #fff083;
    --color-learn-2: #fff9d0;
    --color-learn-3: #fffbe2;
    --color-jobs: #74bcff;
    --color-jobs-2: #99ccfc;
    --color-jobs-3: #b4d7f8;
    --alert-green: #e0f4d9;
    --alert-green-rgb: 224, 244, 217;
    --alert-yellow: #fff083;
    --alert-yellow-rgb: 255, 240, 131;
    --color-dotteds-rgb: var(--color-primary-rgb);

    /* Background Colors */
    --bg-primary: #f8f8f8;
    --bg-primary-rgb: 248, 248, 248;
    --bg-secondary: #222;
    --bg-3rd: #ededed;
    --bg-4rd: #f8f8f8;
    --bg-white: #ffffff;
    --avatar-bg: #f8f8f8;

    /* Border */
    --border-gray: #ededed;
    --border-table: #222;
    --border-thin: 0.5px;

    /* Sizes */
    --text-size-small: 12px;
    --text-size-primary: 16px;
    --text-size-medium: 18px;
    --text-size-large: 24px;

    /* Layout */
    --innerWidth: 1816px;
    --header-height: 71px;
    --gutter: 20px;
    --pad-inner: 52px;

    /* Other */
    --color-odd-rows: #f8f8f8;
    --modal-alpha: 0.7;

    /* Border Radius */
    --rounded-small: 4px;
    --rounded-normal: 8px;
    --rounded-large: 1rem;

    /* Image Resizing Ratios */
    --img-resizing-site: 16 / 12;
    --img-resizing-panoramic: 2 / 1;
    --img-resizing-desktop: 19 / 10;
  }

  /* Dark Mode */
  .dark {
    --background: var(--color-primary-rgb);
    --foreground: var(--color-white);

    --card: var(--color-primary);
    --card-foreground: var(--color-white);

    --popover: var(--color-primary);
    --popover-foreground: var(--color-white);

    --primary: var(--color-white);
    --primary-foreground: var(--color-primary);

    --secondary: var(--color-secondary);
    --secondary-foreground: var(--color-white);

    --muted: var(--bg-3rd);
    --muted-foreground: var(--color-white);

    --accent: var(--color-inspire);
    --accent-foreground: var(--color-white);

    --destructive: var(--color-errors);
    --destructive-foreground: var(--color-white);

    --border: var(--bg-secondary);
    --input: var(--bg-input-hover);
    --ring: var(--color-primary-rgb);
  }
}

body {
  font-family: var(--font-1);
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tiptap {
  ul,
  ol {
    padding: 0 1rem;
  }
}
body {
  font-family: var(--font-inter);
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
    hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* pulse animation  */

.pulse {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse::before {
  content: "";
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  border: 2px solid #6a49f2;
  border-radius: 50%;
  animation: pulseEffects 1.5s linear infinite;
}

.pulse::after {
  content: "";
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  border: 2px solid #6a49f2;
  border-radius: 50%;
  animation: pulseEffects 1.5s linear infinite;
  animation-delay: 0.4s;
}

.mycustom {
  overflow-y: hidden !important;
}

@keyframes pulseEffects {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

/* bg-for-post-now-page */

/* header animation */

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  animation: slideInFromTop 0.5s ease-out;
}

.sidebar {
  overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: white !important;
}

/* styles for multi selected input  */
.css-qbdosj-Input {
  padding: 10px 0 !important;
}

/* find job page price slider */

.input-range__label-container {
  margin-right: 20px !important;
  font-size: 14px;
}
