@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */

@layer base {
  :root {
    --tp-common-white-rgb: rgb(255, 255, 255); /* #ffffff */
    --tp-common-black-rgb: rgb(12, 25, 57); /* #0C1939 */
    --tp-common-black-2-rgb: rgb(15, 19, 51); /* #0F1333 */
    --tp-common-black-3-rgb: rgb(16, 25, 47); /* #10192F */
    --tp-common-black-4-rgb: rgb(5, 9, 43); /* #05092B */
    --tp-common-black-5-rgb: rgb(25, 28, 60); /* #191C3C */
    --tp-common-black-6-rgb: rgb(16, 36, 83); /* #102453 */
    --tp-common-black-7-rgb: rgb(15, 19, 51); /* #0F1333 */
    --tp-common-green-rgb: rgb(60, 184, 108); /* #3CB86C */
    --tp-common-green-2-rgb: rgb(11, 191, 94); /* #0BBF5E */
    --tp-common-orange-rgb: rgb(255, 104, 56); /* #FF6838 */
    --tp-common-red-rgb: rgb(255, 72, 93); /* #FF485D */
    --tp-common-purple-rgb: rgb(145, 78, 255); /* #914EFF */
    --tp-common-yellow-rgb: rgb(255, 161, 83); /* #FFA153 */
    --tp-common-yellow-2-rgb: rgb(254, 218, 3); /* #FEDA03 */
    --tp-common-pink-rgb: rgb(254, 94, 120); /* #FE5E78 */

    /* Heading and text */
    --tp-heading-primary-rgb: rgb(12, 25, 57); /* #0C1939 */
    --tp-text-body-rgb: rgb(86, 93, 109); /* #565D6D */
    --tp-text-1-rgb: rgb(86, 93, 109); /* #565D6D */
    --tp-text-2-rgb: rgb(168, 176, 195); /* #A8B0C3 */
    --tp-text-3-rgb: rgb(141, 149, 168); /* #8D95A8 */
    --tp-text-4-rgb: rgb(129, 131, 149); /* #818395 */
    --tp-text-5-rgb: rgb(193, 200, 219); /* #C1C8DB */
    --tp-text-6-rgb: rgb(161, 163, 178); /* #A1A3B2 */
    --tp-text-7-rgb: rgb(137, 145, 165); /* #8991A5 */
    --tp-text-8-rgb: rgb(117, 125, 147); /* #757D93 */
    --tp-text-9-rgb: rgb(190, 196, 210); /* #BEC4D2 */
    --tp-text-10-rgb: rgb(114, 118, 148); /* #727694 */
    --tp-text-11-rgb: rgb(165, 167, 182); /* #A5A7B6 */
    --tp-text-12-rgb: rgb(148, 156, 174); /* #949CAE */
    --tp-text-13-rgb: rgb(153, 158, 170); /* #999EAA */
    --tp-text-14-rgb: rgb(141, 141, 141); /* #8D8D8D */

    /* Grays */
    --tp-grey-1-rgb: rgb(241, 241, 241); /* #F1F1F1 */
    --tp-grey-2-rgb: rgb(245, 246, 248); /* #F5F6F8 */

    /* Theme colors */
    --tp-theme-1-rgb: rgb(55, 113, 254); /* #3771FE */
    --tp-theme-2-rgb: rgb(0, 123, 255); /* #007BFF */
    --tp-theme-dark-rgb: rgb(5, 9, 43); /* #05092B */
    --tp-theme-dark-2-rgb: rgb(5, 9, 43); /* #05092B */
    --tp-theme-white-rgb: rgb(255, 255, 255); /* #fff */

    /* Borders */
    --tp-border-1-rgb: rgb(25, 27, 29); /* #191B1D */
    --tp-border-2-rgb: rgb(18, 22, 54); /* #121636 */
    --tp-border-3-rgb: rgb(222, 222, 222); /* #dedede */
    --tp-border-4-rgb: rgb(45, 49, 75); /* #2D314B */
  }

  .light-theme {
    --bs-body-color-rgb: rgb(33, 37, 41); /* #212529 */
    --bs-body-bg-rgb: rgb(255, 255, 255); /* #fff */
    --bs-primary-rgb: rgb(55, 113, 254); /* #3771FE */
    --bs-secondary-rgb: rgb(173, 181, 189); /* #adb5bd */
    --bs-success-rgb: rgb(25, 135, 84); /* #198754 */
    --bs-danger-rgb: rgb(255, 72, 93); /* #FF485D */
    --bs-warning-rgb: rgb(255, 161, 83); /* #FFA153 */
    --bs-light-rgb: rgb(241, 241, 241); /* #f1f1f1 */
    --bs-dark-rgb: rgb(52, 58, 64); /* #343a40 */

    /* Typography colors */
    --tp-theme-dark-rgb: rgb(255, 255, 255); /* #fff */
    --tp-common-black-rgb: rgb(5, 9, 43); /* #05092B */
    --tp-text-body-rgb: rgb(86, 93, 109); /* #565D6D */
  }
}

.no-ring-shadow {
  --tw-ring-offset-shadow: none !important;
  --tw-ring-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}

body {
  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-smooth: always; /* Enables font smoothing */
  -webkit-font-smoothing: antialiased; /* Smoother fonts on WebKit-based browsers (e.g., Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* Smoother fonts on macOS browsers */
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; /* Ensure consistent sizing across elements */
}

.custom-container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .custom-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 830px;
  }
}

@media (min-width: 992px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .custom-container {
    max-width: 1230px;
  }
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}

body {
  font-family: var(--font-inter);
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
    hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* pulse animation  */

.pulse {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse::before {
  content: '';
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  border: 2px solid #6a49f2;
  border-radius: 50%;
  animation: pulseEffects 1.5s linear infinite;
}

.pulse::after {
  content: '';
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  border: 2px solid #6a49f2;
  border-radius: 50%;
  animation: pulseEffects 1.5s linear infinite;
  animation-delay: 0.4s;
}

.mycustom {
  overflow-y: hidden !important;
}

@keyframes pulseEffects {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

/* bg-for-post-now-page */

/* header animation */

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  animation: slideInFromTop 0.5s ease-out;
}

.sidebar {
  overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: white !important;
}

/* styles for multi selected input  */
.css-qbdosj-Input {
  padding: 10px 0 !important;
}

/* find job page price slider */

.input-range__label-container {
  margin-right: 20px !important;
  font-size: 14px;
}

/* Edit reviews slider navigation */

.reviews .swiper-button-prev,
.reviews .swiper-button-next {
  top: -10px; /* Adjust the vertical position */
  transform: none;
  z-index: 999999999;
}
